body {
  font-family: PT serif;
  text-align: center;
  margin: 60px;
  justify-content: center;
}

.container {
  text-align: left;
  margin-left: 90px;
  margin-right: 90px;
}

a {
  color: #ca5e10;
}

h1 {
  color: solid black;
  font-family: Cinzel;
  font-size: 6rem;
}

.subtitle {
  color: #7d7d7d;
  font-size: 2.25rem;
  margin-bottom: 40px;
}

p {
  margin-top: 20px;
  font-size: 1.125rem;
  justify-content: flex-end;
}

.lead {
  font-size: 1.3125rem;
}
