* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  min-width: 375px;
  font-family: "barlow", " Fraunces";
}

header {
  background-image: url(images/desktop/image-header.jpg);
  height: 100vh;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  width: 100vw;
  overflow: hidden;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 30px;
}

nav ul a {
  text-decoration: none;
  position: relative;
  top: 1em;
  right: 2.5em;
  font-size: 1.4rem;
  color: #fff;
}

.logo {
  position: relative;
  top: 3.5em;
  left: 3em;
  width: 11em;
}

.arrow {
  display: flex;
  justify-content: center;
  margin-top: 16em;
}

.creatives {
  display: flex;
  justify-content: center;
  margin-top: -7em;
  font-size: 2.5rem;
  color: #fff;
}

#contacts {
  background-color: #fff;
  padding: 15px 25px;
  border-radius: 15px;
  color: black;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100vw;
}

main div img {
  background-color: aqua;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.h1 {
  margin-top: -3em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.card {
  display: flex;
  background-color: green;
  gap: 20px;
}

.card1 img {
  width: 80px;
  height: 80px;
  margin-top: 20px;
  border-radius: 50%;
}

.card1 {
  background-color: #fff;
  width: 400px;
  height: 400px;
  margin: 20px;
  display: flex;
  justify-content: center;
  margin-top: 13em;
  position: relative;
}

.figures {
  background-color: #fff;
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 750px;
  align-items: center;
  position: relative;
}

.text {
  margin-top: 10em;
  position: absolute;
  text-align: center;
}
.names {
  position: absolute;
  top: 18em;
}

.food {
  background-color: red;
  width: 100vw;
  height: 400px;
}

.pro {
  position: absolute;
  top: 20em;
}

.client {
  position: absolute;
  top: 13em;
  text-transform: uppercase;
}

.images {
  display: flex;
  width: 100vw;
  background-color: green;
  height: 400px;
}

.image img {
  height: 400px;
  width: 370px;
  object-fit: cover;
}

.footer {
  height: 350px;
  width: 100vw;
  background-color: hsl(167, 70%, 74%);
  display: flex;
  justify-content: center;
  position: relative;
}

.sunny {
  margin-top: 7em;
}

.sunny img {
  width: 180px;
}

.contact ul {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  position: absolute;
  top: 8em;
  left: 37.5em;
}

.contact ul li {
  list-style: none;
  margin: 20px;
  font-size: 1.2rem;
}

.icon ul {
  display: flex;
  list-style: none;
  position: absolute;
  top: 14em;
  left: 40em;
}

.icon ul li {
  margin: 15px;
}
